nav {
  float: right;
  text-align: right;
}
.navbar {
  margin-bottom: 0;
  float: right;
  text-align: right;
}
.nav-item {
  float: right;
  text-align: right;
}
.jumbotron {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbo-head {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.jumbotron p {
  text-align: center;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.row {
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  float: left;
  width: 33.333%;
  /*padding: .25rem;*/
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
}
.card-img-top {
  max-height: 250px;
}
.card-body {
  text-align: center;
}
.card-text {
  font-size: 85%;
  text-align: center;
}
.jumbotron {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbo-head {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.jumbotron p {
  text-align: center;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
nav {
  float: right;
  text-align: right;
}
.navbar {
  margin-bottom: 0;
  float: right;
  text-align: right;
}
.nav-item {
  float: right;
  text-align: right;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2%;
}
ul.icons {
  margin-top: 5%;
  padding-bottom: 6%;
}
ul li {
  display: inline-block;
}
.social-icons {
  height: 300px;
  background: #bcbcbc;
}
.social-icons li {
  width: 20%;
  float: left;
  padding-left: 39px;
}
.social-icons li:nth-child(5n) {
  padding-right: 0;
}
.contact-form {
  margin-top: 50px;
}
h1.contact-heading {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
}
.button {
  text-align: center;
  background-color: #3873a6;
  border-color: #3873a6;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.footer-nav {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
li {
  list-style-type: none;
}
.copyright {
  text-align: center;
}
.contact-form {
  margin-top: 50px;
}
h1.contact-heading {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
}
.button {
  text-align: center;
  background-color: #3873a6;
  border-color: #3873a6;
  padding-top: 5px;
  padding-bottom: 5px;
}
