nav {
  float: right;
  text-align: right;
}
.navbar {
  height: 100px;
}
.logo {
  left: -220px;
  width: 55%;
  position: relative;
}
.main-menu {
  left: 200px;
}
.nav-item {
  float: right;
  text-align: right;
}
.row {
  flex-wrap: wrap;
  margin: 20px;
}
h1 {
  font-size: 50px;
}
.card {
  float: left;
  width: 33.333%;
  /*padding: .25rem;*/
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
}
.card-img-top {
  max-height: 250px;
}
.card-body {
  text-align: center;
}
.card-text {
  font-size: 85%;
  text-align: center;
}
h2.mission-statement {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #308bbd;
}
.card-button {
  color: #fff;
  background-color: #006ba3;
  border-color: #006ba3;
  font-family: Bodoni;
  font-size: 24px;
  width: 224px;
}
.jumbotron {
  background-image: url('../../images/stock-photos/father-child-tree.jpg');
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo-head {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.jumbotron p {
  text-align: center;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.sign-up {
  color: #fff;
  background-color: #308bbd;
  border-color: #308bbd;
  border-radius: 25px;
  text-transform: uppercase;
  width: 140px;
  font-weight: 300;
  margin-right: 10px;
}
.log-in {
  color: #308bbd;
  background-color: #fff;
  border-color: #308bbd;
  border-radius: 25px;
  text-transform: uppercase;
  width: 140px;
  font-weight: 300;
  margin-left: 10px;
}
nav {
  float: right;
  text-align: right;
}
.navbar {
  height: 100px;
}
.logo {
  left: -220px;
  width: 55%;
  position: relative;
}
.main-menu {
  left: 200px;
}
.nav-item {
  float: right;
  text-align: right;
}
h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 2%;
  text-transform: uppercase;
  color: #308bbd;
}
ul.icons {
  margin-top: 5%;
  padding-bottom: 6%;
}
ul li {
  display: inline-block;
  color: #308bbd;
}
ul li a {
  color: #308bbd;
}
.social-icons {
  background: #e2e5de;
  width: 1425px;
  position: relative;
  height: 300px;
  left: -173px;
}
.social-icons li {
  float: left;
  margin: 0 101px;
}
.social-icons li:nth-child(5n) {
  padding-right: 0;
}
.contact-form {
  margin-top: 50px;
}
h1.contact-heading {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
}
.button {
  text-align: center;
  background-color: #3873a6;
  border-color: #3873a6;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer.row {
  margin: 0 15px;
}
div.footer-nav {
  position: relative;
  width: 100%;
  text-align: center;
  top: -185px;
}
.footer-banner {
  width: 1425px;
  position: relative;
  height: 300px;
  left: -173px;
}
.ft-nav li {
  color: #308bbd;
  list-style-type: none;
}
.ft-nav li a:hover {
  color: white;
  text-decoration: underline;
}
.copyright {
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
}
.copyright a:hover {
  color: #fff;
  text-decoration: underline;
}
