.contact-form {
  margin-top: 50px;
}

h1.contact-heading{
  text-align: center;
  margin-top: 180px;
  margin-bottom: 70px;
}

.button {
  text-align: center;
  background-color: #3873A6;
  border-color: #3873A6;
  padding-top: 5px;
  padding-bottom: 5px;
}
