div.footer-nav {
  position: relative;
  text-align: center;
  top: -185px;
  // left: 225px;
}

.footer-banner {
  width: 1080px;
  position: relative;
  left: 15px;
  height: 300px;
}

.ft-nav li {
  color: $boston-blue;
  list-style-type: none;
}

.ft-nav li a:hover {
    color: white;
    text-decoration: underline;
}

.copyright {
  color: $white;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
}

.copyright a:hover {
    color: $white;
    text-decoration: underline;
}
