.jumbotron {
  // width: 100%;
  // padding-top: 6rem;
  // padding-bottom: 6rem;
  // margin-bottom: 0;
  // background-color: $white;
  background-image: url('../../images/stock-photos/father-child-tree.jpg') ;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

// .jumbotron-image {
//   width: 100%;
// }

.jumbo-head {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.jumbotron p {
  text-align: center;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.sign-up {
  color: $white;
  background-color: $boston-blue;
  border-color: $boston-blue;
  border-radius: 25px;
  text-transform: uppercase;
  width: 140px;
  font-weight: 300;
  margin-right: 10px;
}

.log-in {
  color: $boston-blue;
  background-color: $white;
  border-color: $boston-blue;
  border-radius: 25px;
  text-transform: uppercase;
  width: 140px;
  font-weight: 300;
  margin-left: 10px;
}
