nav {
  float: right;
  text-align: right;
}

.navbar {
  height: 100px;
}

.logo {
  left: -220px;
  width: 55%;
  position: relative;
}

.main-menu {
  left: 200px;
}

.nav-item {
  float: right;
  text-align: right;
}
