.social-icons {
  background-color: $gray-nurse;
  background-position: center;
  height: 200px;
}

.social-cont {
  text-align: center;
}

.social-icons h2 {
  text-transform: uppercase;
  padding-top: 15px;
}

.social-icons .row {
  margin-top: 30px;
}
