h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 2%;
  text-transform: uppercase;
  color: $boston-blue;
}

ul.icons {
  margin-top: 5%;
  padding-bottom: 6%;
}


ul li{
  display: inline-block;
  color: $boston-blue;
  a {
    color: $boston-blue;
  }
}

.social-icons {
  height: 300px;
  background: $gray-nurse;
}

.social-icons li {
  width: 20%;
  float: left;
  padding-left: 39px;
}

.social-icons li:nth-child(5n) {
  padding-right: 0;
}
