.jumbotron.jumbotron-fluid.coming-soon {
  background: transparent;
  margin-top: 90px;
  padding-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  height: 550px;
}

.display-4 {
      margin-bottom: 40px;
}
