.involved {
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-img-top {
  max-height: 361px;
}

.involved h4 {
  text-transform: uppercase;
  color: $boston-blue;
}

.card-button {
  background-color: $boston-blue;
  text-transform: uppercase;
  color: $white;
}
