.row {
  flex-wrap: wrap;
  margin: 20px;
}

h1 {
  font-size: 50px;
}

.card {
  float: left;
  width: 33.333%;
  /*padding: .25rem;*/
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
}

.card-img-top {
  max-height: 250px;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: 85%;
  text-align: center;
}

h2.mission-statement {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $boston-blue;
}

.card-button {
  color: $white;
  background-color: $all-ports;
  border-color: $all-ports;
  font-family: Bodoni;
  font-size: 24px;
  width: 224px;
}
